{% extends "base.html" %}
{% block body %}
<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% if session['username'] == 'vendor' %}
{% elif session['username'] == 'admin' %}
<h3>Active Chats</h3>
{% else %}
<form action="start_chat" method="POST" class="start_chat_form">
    <h3>Start a chat</h3>
    <select name="admin_vendor_id">
        {% for v in vendors %}
        <option value="{{v.user_id}}">{{v.username}}</option>
        {% endfor %}
        {% for a in admins %}
        <option value="{{a.user_id}}">{{a.username}}</option>
        {% endfor %}
    </select>
    <label for="title">Title</label>
    <input type="text" name="title" required>
    <input type="submit" value="Chat">
</form>
{% endif %}
<div class="grid_container">
    {% for c in chats %}
    <div class="grid_item chats">
        <h3>Title: {{c.title}}</h3>
        <p>Username: {{c.username}}</p>
        <div class="grid_item chat_section">
            {% for m in messages %}
            {% if m.receiver_id == c.admin_vendor_id %}
            <p class="right_message"><sup>({{m.sender_id}})</sup>{{m.message}}</p>
            {% elif m.sender_id == c.admin_vendor_id %}
            <p class="left_message"><sup>({{c.admin_vendor_id}})</sup>{{m.message}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <form class="send_chat_form" action="/send_message" method="POST">
            {% if session ['username'] == 'vendor' %}
            <input type="hidden" name="customer_id" value="{{c.customer_id}}">
            {% elif session['username'] == 'admin' %}
            <input type="hidden" name="customer_id" value="{{c.customer_id}}">
            {% else %}
            <input type="hidden" name="admin_vendor_id" value="{{c.admin_vendor_id}}">
            {% endif %}
            <input class="send_message" type="text" name="message" placeholder="Message" required>
            <input class="message_send" type="submit" value="Send">
        </form>
    </div>
{% endfor %}
</div>
</main>
{% endblock %}
