{% extends "base.html" %}
{% block body%}
<main>
    <div class="filter_landing">
        <div class="filter_landing_title">
            <h4>Product Categories</h4>
        </div>
        <form class="filter_landing_form" action="filter_category" method="POST">
                {% for c in categories %}
                <button name="category" type="submit" value="{{c.category}}">{{c.category}}</input>
                {% endfor %}
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2 class="flashed_message">{{ message }}</h2>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% if session.username is not defined %}
    <form class="login_form" action="/login" method="POST">
        <h2>Login</h2>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="submit" value="Login">
        <p><a href="/register">Need an account sign up here</a></p>
    </form>
    {% else %}
    <h2>User currently logged in logout to change users</h2>
    {% endif %}
    <div class="category_filter">
        <!-- add categories to navigate and filter out on product page -->
    </div>
    <!-- <img class="landing_img" src="/static/images/logo1.png" alt=""> -->
</main>
{% endblock%}