<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Multi-vendor ecommerce website</title>
</head>
<body>
    <header>
        <nav class="header_nav">
            <div class="header_title">
                <a href="/"><h1>The Green Dragon</h1></a>
            </div>
            <div class="header_links">
                <ul>
                    <li><a href="/">Home & Login</a></li>
                    {% if session.username is not defined %}
                    <li><a href="/products">Products</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/review">Reviews</a></li>
                    {% elif session['username'] == 'admin' %}
                    <li><a href="/products">Products</a></li>
                    <li><a href="/admin">Dashboard</a>
                    <li><a href="/complaints">Complaints</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/review">Reviews</a></li>
                    <li>
                        <form class="logout_form" action="/logout" method="POST">
                            <input class="logout_btn" type="submit" value="Logout">
                        </form>
                    </li>
                    {% elif session['username'] == 'vendor' %}
                    <li><a href="/products">Products</a></li>
                    <li><a href="/vendor">Dashboard</a></li>
                    <li><a href="/vendor_orders">Orders</a></li>
                    <li><a href="/complaints">Complaints</a></li>
                    <li><a href="/review">Reviews</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li>
                        <form class="logout_form" action="/logout" method="POST">
                            <input class="logout_btn" type="submit" value="Logout">
                        </form>
                    </li>
                    {% else %}
                    <li><a href="/products">Products</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/complaints">Complaints</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/review">Reviews</a></li>
                    <li><a href="/user_profile">User Profile</a></li>
                    <li>
                        <form class="logout_form" action="/logout" method="POST">
                            <input class="logout_btn" type="submit" value="Logout">
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    {% block body %}
    {% endblock %}

    <footer>
        <nav class="footer_nav">
            <div class="footer_title">
                <h1>The Green Dragon</h1>
            </div>
            <div class="footer_icons">
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="egg-outline"></ion-icon>
                <ion-icon name="earth-outline"></ion-icon>
            </div>
            <div class="footer_links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">About Us</a></li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>