<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>Multi-vendor ecommerce website</title>
</head>
<body>
    <header>
        <nav class="header_nav">
            <div class="header_logo">
                <img src="static/images/logo-placeholder.png" alt="">
            </div>
            <div class="header_title">
                <h1>Wacky Waving Inflatable Arm Emporium</h1>
            </div>
            <div class="header_links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a id="login_nav" href="">Login</a></li>
                    <li><a id="register_nav" href="">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        <nav class="footer_nav">

        </nav>
    </footer>
</body>
</html>