<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>Multi-vendor ecommerce website</title>
</head>
<body>
    <header>
        <nav class="header_nav">
            <div class="header_logo">
                <img src="static/images/logo-placeholder.png" alt="">
            </div>
            <div class="header_title">
                <h1>Wacky Waving Inflatable Arm Emporium</h1>
            </div>
            <div class="header_links">
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if session.username is not defined %}
                    <li><a href="/register">Register</a></li>
                    {% else %}
                    <li><a href="/user_profile">User Profile</a></li>
                    <li>
                        <form action="/logout" method="POST">
                            <input type="submit" value="Logout">
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    {% block body %}
    {% endblock %}

    <footer>
        <nav class="footer_nav">
            
        </nav>
    </footer>
</body>
<script>

</script>
</html>