{% extends "base.html" %}
{% block body %}
<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="cart">
        <form action="/clear_cart" method="POST" class="clear_cart_form">
            <button type="submit">Clear Cart</button>
        </form>
        <h1>Shopping Cart</h1>
        <form class="cart_form" method="POST" action="/update_cart">
            {% for c in cart.fetchall() %}
            <div class="cart_item">
                <img src="{{c.product_img}}" class="cart_item_img">
                <div class="cart_item_info">
                    <h5 class="cart_item_title">Title: {{c.title}}</h5>
                    <p class="cart_item_text">Product ID: {{c.product_id}}</p>
                    <p class="cart_item_text">Color: {{c.color}}</p>
                    <p class="cart_item_text">Size: {{c.size}}</p>
                    {% if c.discounted_price is not none and c.discounted_price > 0 %}
                        <p class="cart_item_text cart_price">Price: ${{c.discounted_price}}</p>
                    {% else %}
                        <p class="cart_item_text cart_price">Price: ${{c.price}}</p>
                    {% endif %}
                </div>
                <div class="cart_item_quantity">
                    <input type="text" name="variant_id" value="{{c.variant_id}}">
                    <label for="quantity">QTY:</label>
                    <input type="number" class="quantityInputs" name="quantity" min="1" max="{{c.inventory}}" value="{{c.quantity}}">
                    <button type="submit" name="action" value="update-{{c.variant_id}}">Update</button>
                    <button type="submit" name="action" value="remove-{{c.variant_id}}">Remove</button>
                </div> 
            </div>
            {% endfor %}
            <div class="checkout_form">
                <label for="total">Total</label>
                <input readonly id="total" value="">
                <button type="submit" name="action" value="checkout">Checkout</button>
            </div>
        </form>
    </div>
</main>
    <script>
        const quantityInputs = document.querySelectorAll('.quantityInputs');
        const total = document.querySelector('#total');
        const prices = document.querySelectorAll('.cart_price')
        updateTotal();
        function updateTotal() {
            let totalValue = 0;
            for (let i = 0; i < prices.length; i++) {
                const price = prices[i].innerText.split('$')[1];
                const quantity = quantityInputs[i].value;
                totalValue += price * quantity;
            }
            total.value = totalValue.toFixed(2);
        }
        quantityInputs.forEach(function(quantityInput) {
            quantityInput.addEventListener('change', updateTotal);
        });
    </script>
</main>
{% endblock %}
