{% extends "base.html" %}
{% block body %}
<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    {% endwith %}
<div class="shipping_container">
        <form method="POST" action="/checkout" class="shipping_checkout_form shipping_checkout_form_visible">
        <h1>Shipping</h1>
        {% if shipping_address.rowcount == 0 %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="" required>
        <label for="address">Address</label>
        <input type="text" id="street_address" name="street_address" value="" required>
        <label for="city">City</label>
        <input type="text" id="city" name="city" value="" required>
        <label for="state">State</label>
        <input type="text" id="state" name="state" value="" required>
        <label for="zip_code">Zip Code</label>
        <input type="text" id="zip_code" name="zip_code" value="" required>
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone_number" name="phone_number" value="" required>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" value="" required>
        <input type="submit" value="Continue">
        {% else %}
        {% for s in shipping_address %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{s.name}}" required readonly>
        <label for="address">Address</label>
        <input type="text" id="street_address" name="street_address" value="{{s.street_address}}" required readonly>
        <label for="city">City</label>
        <input type="text" id="city" name="city" value="{{s.city}}" required readonly>
        <label for="state">State</label>
        <input type="text" id="state" name="state" value="{{s.state}}" required readonly>
        <label for="zip_code">Zip Code</label>
        <input type="text" id="zip_code" name="zip_code" value="{{s.zip_code}}" required readonly>
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone_number" name="phone_number" value="{{s.phone_number}}" required readonly>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" value="{{s.country}}" required readonly>
        <input type="text" name="address_id" id="address_id" hidden value="{{s.address_id}}">
        <input type="submit" value="Continue">
        {% endfor %}
        {% endif %}
        <div class="btn_shipping">
            <button id="show_new_shipping">Use new address</button>
        </div>
    </form>
</div>

<div class="shipping_container">
    <form class="new_address_shipping_form new_address_shipping_form_hidden" method="POST" action="/new_address">
        <h1>New Address</h1>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="" required>
        <label for="address">Address</label>
        <input type="text" id="street_address" name="street_address" value="" required>
        <label for="city">City</label>
        <input type="text" id="city" name="city" value="" required>
        <label for="state">State</label>
        <input type="text" id="state" name="state" value="" required>
        <label for="zip_code">Zip Code</label>
        <input type="text" id="zip_code" name="zip_code" value="" required>
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone_number" name="phone_number" value="" required>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" value="" required>
        <input type="submit" value="Continue">
        <div class="btn_shipping">
            <button id="show_default_shipping">Use default address</button>
        </div>
    </form>
   
</div>
    <div class="order_summary">
        <h1>Order Summary</h1>
        <div class="order_summary_container">
            {% for c in cart %}
            <div class="order_summary_item">
                <h5 class="order_summary_title">Title: {{c.title}} </h5>
                <p class="order_summary_text">Product ID: {{c.product_id}} </p>
                <p class="order_summary_text">Color: {{c.color}}</p>
                <p class="order_summary_text">Size: {{c.size}}</p>
                {% if c.discounted_price is not none and c.discounted_price > 0 %}
                <p class="order_summary_text order_summary_price">Price: {{c.discounted_price*c.quantity}}</p>
                {% else %}
                <p class="order_summary_text order_summary_price">Price: {{c.price*c.quantity}}</p>
                {% endif %}
                <p class="order_summary_text">Quantity: {{c.quantity}}</p>
                {% endfor %}
            </div>
                <p class="total"></p>
        </div>
    </div>
</main>
<script src="static/js/checkout.js"></script>

{% endblock %}