<!-- <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order #</th>
                <th scope="col">Product</th>
                <th scope="col">Color</th>
                <th scope="col">Size</th>
                <th scope="col">Quantity</th>
                <th scope="col">Variant ID</th>
                <th scope="col">Product ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Order Placed</th>
                <th scope="col">Address</th>
                <th scope="col">Address ID used</th>
                <th scope="col">Total</th>
                <th scope="col">Vendor ID</th>
                <th scope="col">Status</th>
                <th scope="col">Review</th>
                <th scope="col">Complaint</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orders %}
            <tr>
                <th scope="row">{{ o.order_id }}</th>
                <td><img src="{{o.product_img}}" alt=""></td>
                <td>{{ o.color }}</td>
                <td>{{ o.size }}</td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.variant_id }}</td>
                <td>{{ o.product_id }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.email }}</td>
                <td>{{ o.order_date }}</td>
                <td>{{ o.street_address }}</td>
                <td>{{ o.address_id }}</td>
                <td>${{ o.total }}</td>
                <td>{{ o.vendor_id}}</td>
                <td>{{ o.status }}</td>
                <td><button >Review</button></td>
                <td><button >Complaint</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <!-- <form method="POST" action="" class="order_forms">
        {% for o in orders %}
          <div>
            <img src="{{o.product_img}}" alt="">
            <label for="order_color_{{o.order_id}}">Color</label>
            <input type="text" name="order_color_{{o.order_id}}" value="{{ o.color }}">
            <label for="order_size_{{o.order_id}}">Size</label>
            <input type="text" name="order_size_{{o.order_id}}" value="{{ o.size }}">
            <label for="order_quantity_{{o.order_id}}">Quantity</label>
            <input type="text" name="order_quantity_{{o.order_id}}" value="{{ o.quantity }}">
            <label for="order_variant_id_{{o.order_id}}">Variant ID</label>
            <input type="text" name="order_variant_id_{{o.order_id}}" value="{{ o.variant_id }}">
            <label for="order_product_id_{{o.order_id}}">Product ID</label>
            <input type="text" name="order_product_id_{{o.order_id}}" value="{{ o.product_id }}">
            <label for="order_name_{{o.order_id}}">Name</label>
            <input type="text" name="order_name_{{o.order_id}}" value="{{ o.name }}">
            <label for="order_email_{{o.order_id}}">Email</label>
            <input type="text" name="order_email_{{o.order_id}}" value="{{ o.email }}">
            <label for="order_date_{{o.order_id}}">Order Placed</label>
            <input type="text" name="order_date_{{o.order_id}}" value="{{ o.order_date }}">
            <label for="order_address_{{o.order_id}}">Address</label>
            <input type="text" name="order_address_{{o.order_id}}" value="{{ o.street_address }}">
            <label for="order_address_id_{{o.order_id}}">Address ID used</label>
            <input type="text" name="order_address_id_{{o.order_id}}" value="{{ o.address_id }}">
            <label for="order_total_{{o.order_id}}">Total</label>
            <input type="text" name="order_total_{{o.order_id}}" value="${{ o.total }}">
            <label for="order_vendor_id_{{o.order_id}}">Vendor ID</label>
            <input type="text" name="order_vendor_id_{{o.order_id}}" value="{{ o.vendor_id}}">
            <label for="order_status_{{o.order_id}}">Status</label>
            <input type="text" name="order_status_{{o.order_id}}" value="{{ o.status }}">
          </div>
        {% endfor %}
        <button type="submit">Update Orders</button>
      </form> -->
    <!-- <h1>Orders</h1>
    {% for o in orders %}
    <form method="POST" action="" class="order_forms">
        <img src="{{o.product_img}}" alt="">
        <label for="order_color">Color</label>
        <input type="text" name="order_color" value="{{ o.color }}">
        <label for="order_size">Size</label>
        <input type="text" name="order_size" value="{{ o.size }}">
        <label for="order_quantiy">Quantity</label>
        <input type="text" name="order_quantity" value="{{ o.quantity }}">
        <label for="order_variant_id">Variant ID</label>
        <input type="text" name="order_variant_id" value="{{ o.variant_id }}">
        <label for="order_product_id">Product ID</label>
        <label for="order_id">Order #</label>
        <input type="text" name="order_id" value="{{ o.order_id }}">
        <label for="order_name">Name</label>
        <input type="text" name="order_name" value="{{ o.name }}">
        <label for="order_email">Email</label>
        <input type="text" name="order_email" value="{{ o.email }}">
        <label for="order_date">Order Placed</label>
        <input type="text" name="order_date" value="{{ o.order_date }}">
        <label for="order_address">Address</label>
        <input type="text" name="order_address" value="{{ o.street_address }}">
        <label for="order_address_id">Address ID used</label>
        <input type="text" name="order_address_id" value="{{ o.address_id }}">
        <label for="order_total">Total</label>
        <input type="text" name="order_total" value="${{ o.total }}">
        <label for="order_vendor_id">Vendor ID</label>
        <input type="text" name="order_vendor_id" value="{{ o.vendor_id}}">
        <label for="order_status">Status</label>
        <input type="text" name="order_status" value="{{ o.status }}">
    </form>
    {% endfor %} -->