*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.landing_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    height: 100vh;
    z-index: 9;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

header nav a,
footer nav a {
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
}

a:hover,
header form input:hover {
    text-decoration: underline;
}

#logout_btn:hover {
    font-size: 20px;
}

header {
    width: 100%;
    height: 150px;
    padding: 10px 0;
    background-color: #CDD6F4;
    border-bottom: 1px solid white;
}

.header_title {
    margin-left: 100px;
    font-size: 25px;
    transition: font-size 0.3s ease-in-out;
}

.header_links a:hover {
    font-size: 20px;
}

.header_title:hover {
    font-size: 30px;
}


footer {
    width: 100%;
    height: 200px;
    padding: 10px 0;
    background-color: #CDD6F4;
    border-top: 1px solid white;
}

.logout_btn {
    border: none !important;
    background: none !important;
    cursor: pointer !important;
    color: #000 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin: 0 !important;
}

.footer_icons ion-icon {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.footer_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    font-size: 20px;
}

.footer_icons,
.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}


.footer_links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.footer_links li,
.header_links li {
    margin: 0 10px;
}

.header_links a,
.footer_links a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}


.header_links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin-right: 10px;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #A6ADC8;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="submit"],
#show_new_shipping,
#show_default_shipping {
    width: 100%;
    background-color: #7F849C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


form input[type="submit"]:hover {
    background-color: #6C7086;
}

form input[type="submit"]:active {
    background-color: #6C7086;
}

form input,
form select {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}


form input[type="submit"]:hover {
    background-color: #45475A;
}


form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form input[type="submit"]:hover,
form input[type="email"]:focus,
#user_type:focus,
#show_default_shipping:hover{
    outline: none;
    border-color: #7F849C;
}

.filter_landing_form button {
    height: 50px;
    margin-right: 10px;
    min-width: 150px;
    max-width: 200px;
    text-transform: uppercase;
}

.filter_landing_form button:hover {
    background-color: #9399B2;
    box-shadow: 0px 2px 6px rgba(1, 1, 1, 0.9);
}

.filter_landing {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #6C7086;
    padding: 10px;
    height: 100px;
    gap: 20px;
}

.registration_form {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.vendor_delete_btn1 {
    position: absolute !important;
    bottom: -26.5% !important;
    right: 1% !important;
}

.discount {
    display: flex;
    flex-direction: row;
}

.address_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.address {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 250px;
}

.add_variant_btn_vendor {
    position: absolute;
    bottom: -17%;
    left: 1%;
}

.update_variant_btn_vendor {
    position: absolute;
    bottom: -17%;
    right: 30%;
}

.add_variant_btn_admin {
    position: absolute;
    bottom: -16.5%;
    left: 1%;
}

.update_variant_btn_admin {
    position: absolute;
    bottom: -16.5%;
    right: 30%;
}

.login_form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 11;
}


.add_item_form {
    position: absolute;
    top: 59%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.add_item_form input[type="number"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.add_item_form select,
.registration_form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.update_item_form {
    position: absolute;
    top: 40.5%;
    left: 58.5%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}



.card {
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem;
    margin: .4rem auto;
    width: 350px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0.2, 1, 1, 1);
}
  
.card-img-top {
    border-radius: 5px 5px 0 0;
}
  
.card-body {
    font-size: .8rem;
    margin-bottom: 20px;
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.card-body:hover {
    transform: scale(1);
}
  
.card-title {
    font-size: 1rem;
    font-weight: bold;
}
  
.card-text {
    line-height: 1.5;
}

.vendor_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .2rem;
    padding: 10px 10px;
}

main h2:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .2rem;
    padding: 10px 10px;
}

.add_to_cart_form{
    position: absolute;
    bottom: -4.25%;
    right: 1%;
}

.add_to_cart_form input[type="number"] {
    background-color: #626266;
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 75px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    color: whitesmoke;
}


.add_to_cart_form input[type="submit"] {
    background-color: #626266;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: white;
    height: 35px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transform: scale(.9);
    transition: transform .5s ease;
    border-radius: 10px;
}

.card img:hover {
    transform: scale(1);
}

.add_form_hidden,
.update_form_hidden {
    display: none;
}

.update_variant_form_hidden {
    display: none !important;
}

.add_variant_form_hidden {
    display: none !important;
}

.add_form_visible,
.update_form_visible {
    display: block;
}
.add_variant_form_visible,
.update_variant_form_visible {
    display: block !important;
}

#add_close_btn,
#update_close_btn {
    position: absolute;
    top: 0;
    right: 0%;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.add_variant_close_btn,
.update_variant_close_btn {
    position: absolute;
    top: 0;
    right: 0%;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#vendor_delete {
    position: absolute;
    bottom: -4%;
    right: 2%;
    cursor: pointer;
    border: 1.5px solid #7F849C;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    width: 75px;
    color: black;
    height: 32.5px;
    font-style: normal;
}

#admin_delete {
    position: absolute;
    bottom: -25.5%;
    right: 2%;
    cursor: pointer;
    border: 1.5px solid #7F849C;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    width: 75px;
    color: black;
    height: 32.5px;
}

#admin_delete:hover {
    background-color: #7F849C;
    color: white;
}

#vendor_delete:hover {
    background-color: #7F849C;
    color: white;
}

.vendor_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vendor_btns button {
    margin: 1rem;
    background-color: #45475A;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.vendor_btns:hover {
    background-color: #7F849C;
}

.vendor_btns button:hover {
    background-color: #9399B2;
}

#colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
}

.add_variant_form {
    position: absolute;
    top: 58%;
    left: 34%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}


.update_variant_form {
    position: absolute;
    top: 58%;
    right: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 11;
}


#variant_delete {
    position: absolute;
    bottom: 0;
    right: 2%;
    margin: 1rem;
    cursor: pointer;
}

.cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -33%);
    width: 1200px;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow-y: scroll;
    padding-top: 15px;
}

.cart::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

.cart:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.cart_item_quantity input[type="number"] {
    background-color: white;
    border: #000;
    border: 1px solid black;
    color: black;
}

.cart_item:nth-child(1) {
    border-top: 1px solid black;
}

.cart_item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    padding: 4px;
}

.cart_item_text {
    margin-left: 1rem;
}

.clear_cart_form {
    position: absolute;
    top: 0;
    right: .2%;
}

.clear_cart_form button {
    height: 30px;
}

.cart_item_info {
    display: flex;
}

.checkout_form {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 8%;
}

.checkout_form label {
    position: absolute;
    top: 10%;
    left: -15%;
}

.checkout_form button,
.checkout_form input {
    height: 30px;
}

.order_summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 22%;
    right: 20%;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.order_summary_payment {
    position: absolute;
    top: 27%;
    right: 20%;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.order_summary h1 {
    text-align: center;
    margin: 1rem 0;
}

.shipping_checkout_form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}


.new_address_shipping_form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.new_address_shipping_form_hidden,
.shipping_checkout_form_hidden {
    display: none;
}

.new_address_shipping_form_visible,
.shipping_checkout_form_visible {
    display: block
}

.payment_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.order_forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.order img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    padding: 4px;
}

.order {
    background-color: #f7f7f7;
    border: 1px solid #8c6f6f;
    border-radius: 10px;
    margin: 1px auto;
    padding: 20px;
    width: 50%;
}
  
.order_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px; 
}
  
.order_info p {
    font-size: 16px;
    margin: 5px 0;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #BAC2DE;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.filters a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.filters form input,
.filters form select {
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.product {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    padding: 4px;
}

.product_details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    min-width: 0;
    max-width: 300px;
    margin-left: 20%;
}

.product_price {
    font-size: 20px;
    font-weight: bold;
}

.product_quantity {
    font-size: 16px;
    font-weight: bold;
}
  

.product p {
    font-size: 20px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order_btns {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

button {
    border: 1.5px solid #7F849C;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #7F849C;
    color: #fff;
}

.review_form {
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.review {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.review_filter select option {
    color: #000;
    text-align: center;
}

.complaint_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.complaints {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
}

.complaint_form {
    position: absolute;
    top: 55%;
    right: 0%;
    transform: translate(-1%, -50%);
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 11;
}

.review_form_close_btn,
.complaint_form_close_btn,
.admin_chat_close_btn,
.vendor_chat_close_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.admin_chat,
.vendor_chat {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}


.chat_section {
    height: 400px;
    width: 500px;
    overflow-y: scroll;
    background-color: #f1f1f1;
    border: 1px solid black;
}


.chats {
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 1px solid black;
    background-color: #f1f1f1;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}


.start_chat_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    width: 400px;
    margin: 0 auto;
}

.send_message {
    width: 350px;
    height: 50px;
}

.message_send {
    width: 150px;
    height: 50px;
}

.send_chat_form {
    display: flex;
    flex-direction: row;
}