*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a,
footer nav a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgba(127, 180, 255, 0.349);
    padding: 10px 0;
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgba(127, 180, 255, 0.349);
    padding: 10px 0;
}

.header_logo img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.header_links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin-right: 10px;
}

.header_links li {
    margin: 0 10px;
}

main {
    padding-top: 10px;
    width: 100%;
    min-height: 100vh;
    background-color: lightcyan;
}

.registration_form {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.registration_form label,
.login_form label,
.add_item_form label,
.update_item_form label,
.delete_item_form label,
.add_variant_form label,
.update_variant_form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.registration_form input[type="submit"],
.login_form input[type="submit"],
.add_item_form input[type="submit"],
.update_item_form input[type="submit"],
.delete_item_form input[type="submit"],
.add_variant_form input[type="submit"],
.update_variant_form input[type="submit"] {
    background-color: #7fb4ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}


.login_form input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.login_form input[type="submit"]:active,
.registration_form input[type="submit"]:active {
    background-color: #1a6fff;
}

.add_item_form {
    position: absolute;
    top: 60%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}


.add_item_form input,
.add_item_form select,
.registration_form input,
.registration_form select,
.update_item_form input,
.update_item_form select,
.add_variant_form input,
.add_variant_form select,
.update_variant_form input,
.update_variant_form select {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.add_item_form select,
.registration_form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.update_item_form {
    position: absolute;
    top: 41.5%;
    left: 58.5%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.update_item_form input:focus,
.update_item_form select:focus,
.add_item_form input:focus,
.add_item_form select:focus,
.add_variant_form input:focus,
.add_variant_form select:focus,
.registration_form input:focus,
.registration_form select:focus,
.update_variant_form input:focus,
.update_variant_form select:focus,
.login_form input:focus {
    outline: none;
    border-color: #7fb4ff;
}

.update_item_form input[type="submit"]:hover,
.add_item_form input[type="submit"]:hover,
.login_form input[type="submit"]:hover,
.register_form input[type="submit"]:hover,
.update_variant_form input[type="submit"]:hover,
.add_variant_form input[type="submit"]:hover {
    background-color: #4d8fff;
}

.card {
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
    margin: 0 1rem;
    width: 350px;
    background-color: #ccc;
}
  
.card-img-top {
    border-radius: 5px 5px 0 0;
}
  
.card-body {
    font-size: .8rem;
}
  
.card-title {
    font-size: 1rem;
    font-weight: bold;
}
  
.card-text {
    line-height: 1.5;
}

.vendor_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .2rem;
    margin: 1rem;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: black;
    margin: 0 auto 1rem;
}

.add_form_hidden,
.update_form_hidden {
    display: none;
}

.update_variant_form_hidden {
    display: none !important;
}

.add_variant_form_hidden {
    display: none !important;
}

.add_form_visible,
.update_form_visible {
    display: block;
}
.add_variant_form_visible,
.update_variant_form_visible {
    display: block !important;
}

#add_close_btn,
#update_close_btn {
    position: absolute;
    top: 0;
    right: 0%;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.add_variant_close_btn,
.update_variant_close_btn {
    position: absolute;
    top: 0;
    right: 0%;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#vendor_delete {
    position: absolute;
    bottom: 0;
    right: 2%;
    margin: 1rem;
    cursor: pointer;
}

.vendor_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vendor_btns button {
    margin: 1rem;
    background-color: #7fb4ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

#colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
}

.add_variant_form {
    position: absolute;
    top: 70.5%;
    left: 58.5%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}


.update_variant_form {
    position: absolute;
    top: 70.5%;
    left: 30%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 11;
}


#variant_delete {
    position: absolute;
    bottom: 0;
    right: 2%;
    margin: 1rem;
    cursor: pointer;
}